<section class="calendar-page">
  <nav>
    <div class="brand">Dates and Tasks</div>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </nav>

  <% if notice %>
    <p class='notice'> <%= notice %> </p>
  <% end %>

  <div class="calendar-wrapper">
    <%= month_calendar do |date| %>
      <%=  date.day %>

      <% @categories.map do |category| %>
        <% if category.target_date == date %>
          <%= link_to "View Events", categories_path(target_day: category.target_date.to_date), class: "view-event" %>
          <% break %>
        <% end %>
      <% end %>

      <%= link_to "Add Event", new_category_path(target_day: date), class: "add-event" %>
    <% end %>
  </div>
</section>

