<%= form_with model: category, class: "new-categ-form" do |form| %>
  <% if category.errors.any? %>
    <div id="error_message">
      <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
      <% end %>
    </div>
  <% end %>

  <section>
    <%= hidden_field_tag :previous_request, request.referer %>

    <div>
      <%= form.label "Date" %>
      <br>
      <%= form.date_field :target_date, required: true, value: target_day %>
    </div>
    
    <div>
      <%= form.label :title %>
      <br>
      <%= form.text_field :title, required: true %>
    </div>
    
    <div>
      <%= form.label :details %>
      <br>
      <%= form.text_area :details %>
    </div>

    <div class="submit-btn">
      <%= form.submit %>
    </div>
  </section>
<% end %>