<%= form_with model: category, class: "new-categ-form" do |form| %>
  <section>
    <%= hidden_field_tag :previous_request, request.referer %>
    <h1> <%= action %> </h1>

    <div>
      <%= form.label "Date" %>
      <br>
      <%= form.date_field :target_date, required: true, value: target_day %>
    </div>
    
    <div>
      <%= form.label :title %>
      <% if @category.errors.any? %>
        <ul id="error_message">
          <% @category.errors.each do |error| %>
              <li><%= error.full_message %></li>
          <% end %>
        </ul>
      <% end %>
      <br>
      <%= form.text_field :title, autofocus: true, required: true %>
    </div>
    
    <div>
      <%= form.label :details %>
      <br>
      <%= form.text_area :details %>
    </div>

    <div class="submit-btn">
      <%= form.submit %>
    </div>
  </section>
<% end %>