<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<%= link_to 'Calendar', calendar_path %>

<% if @target_day %>
  <%= @target_day.to_time.strftime('%-B, %-d %Y') %>
<% end %>

<% @categories.each do |category| %>
  <div>
    <div> <%= category.title %> </div>
    <% unless @target_day %>
      <%= category.target_date.strftime('%-B, %-d %Y') %>
    <% end %>

    <% category.tasks.each do |task| %>
      <%= task.title %>
    <% end %>

    <%= link_to 'Show categ', category_path(category) %>
    <%= link_to 'Edit categ', edit_category_path(category, target_day: category.target_date.to_date) %>
    <%= link_to 'Delete categ', category_path(category), method: :delete, data: { confirm: "Are you sure?" }%>
  </div>
<% end %>
