<section class="category-index sections">
  <%= render 'nav', path: calendar_path %>

  <% if @target_day %>
    <h1> <%= @target_day.to_time.strftime('%-B %-d, %Y') %> </h1>
  <% end %>

  <h2> Categories </h2>

  <div class="category-grid">
    <% @categories.each do |category| %>
      <div class="category-wrapper">
        <div> <%= category.title.capitalize %> </div>
        <div> <%= category.details.truncate(30, separator: ' ') %> </div>

        <div class="spec-day">
          <% unless @target_day %>
            <%= category.target_date.strftime('%-B %-d, %Y - ') %>
          <% end %>
          <%= pluralize(category.tasks.count, "Task") %>
        </div>

        <%= link_to 'ðŸ‘ Show Tasks', category_path(category), class: "link1" %>
        <%= link_to 'âœŽ Edit this', edit_category_path(category, target_day: category.target_date.to_date), class: "link2"  %>
        <%= link_to 'X Delete this', category_path(category, target_day: @target_day), method: :delete, data: { confirm: "Continue to delete this category?" }, class: "link3" %>
      </div>
    <% end %>
  </div>
</section>

