<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>

<%= @category.title %><br>
<%= @category.target_date.strftime('%-B, %-d %Y') %>

<br>
<br>
<br>

<%= link_to 'create task', new_category_task_path(@category) %>

<br>
<br>
<br>

<% @category.tasks.each do |task| %>
  <%= form_with model: [task.category, task] do |form| %>
    <%= form.check_box :status, onchange: "this.form.submit();" %>
  <% end %>
  <%= task.status %>
  <%= task.title %>
  <%= task.body %>
  <%= link_to 'edit task', edit_category_task_path(@category, task) %>
  <%= link_to 'delete task', category_task_path(@category, task), method: :delete, data: {confirm: "sure?"} %>
<% end %>
