<div>THIS IS GROUP TASK</div>

<%= search_form_for(@query, url: add_users_path, method: :get) do |f| %>

  <%= f.label "Type in the username" %>
  <%= f.search_field :username_i_cont %>

  <%= f.submit "Search!" %>
<% end %>

<div> 
  <% @users.each do |user| %> 
    <%= user.username %>
  <% end %>
</div>
